[Unit]
Description=Raspberry Pi LED Server
After=network.target pigpiod.service
Wants=pigpiod.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/kormarine-seanet
ExecStart=/usr/bin/python3 /home/pi/kormarine-seanet/app.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
